<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db_sqlserver_config" connectionString="Server=localhost;DataBase=zx_scada_data;Uid=sa;Pwd=12345"/>
		<!--<add name="db_mysql_config" connectionString="Database='101_db';Data Source='192.168.5.241';User Id='root';Password='root'"/>-->


		<add name="db_mysql_config_data" connectionString="Database='101_db';Data Source='192.168.2.241';User Id='root';Password='root'"/>
		<!--<add name="db_mysql_config_data" connectionString="Database='NorthIMS';Data Source='127.0.0.1';User Id='root';Password='root'"/>-->
	</connectionStrings>
	<appSettings>
		<!--plcIP-->
		<!--<add key="plcIp" value="192.168.0.1"/>-->
		<add key="plcIp" value="192.168.0.13"/>
		<!--端口号-->
		<add key="plcPort" value="502"/>
		
		
		
		
         <!--tCPip-->
		<add key="tcpIp" value="192.168.0.32"/>
		<!--端口号-->
		<add key="tcpPort" value="9001"/>
		
		
		
		
		
		
		<!--端口号-->
		<add key="port" value="COM1"/>
		<!--波特率-->
		<add key="baud" value="115200"/>
		<!--数据位-->
		<add key="data_bit" value="8"/>
		<!--校验位-->
		<add key="parity" value="None"/>
		<!--停止位-->
		<add key="stop_bit" value="One"/>

<!--登录信息-->
		<add key="UserNum" value=""/>
		<add key="UserName" value=""/>
		<add key="Station" value="05"/>
		<add key="Order" value="20220808"/>
		<add key="Pro" value="机箱"/>
		<add key="Process" value="钳"/>

		<add key="Line" value="104"/>
	</appSettings>
</configuration>